*
!.gitignore
!bashtop/
!bashtop/*
!betterlockscreen/
!betterlockscreen/*
!dmenu/
!dmenu/*
!GIMP/
!GIMP/*
!i3/
!i3/*
!kitty/
!kitty/*
!libreoffice/
!libreoffice/*
!nvim/
!nvim/*
!polybar/
!polybar/*
!flameshot/
!flameshot/*

